# Virtual environment
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# Logs
*.log

# Dependency files (avoid committing installed packages)
*.sqlite3
.DS_Store
Thumbs.db